.myList {
  padding: 0;

  .myList__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;

    .myList__item {
      cursor: pointer;
      text-decoration: none;
      list-style-type: none;
      padding: .75rem;
      border-top: 1px solid rgba(0, 0, 0, .125);
      font-size: 16px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
      }

      &:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, .075);
      }
    }

    .myList__active {
      color: #212529;
      background-color: rgba(0,0,0,.05);
    }
  }
}


